/* .heroSection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSection_box {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroSection_box_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sortDropdown {
  margin-bottom: 20px;
} */
