.heroSection {
  width: 100%;
  margin-bottom: 4rem;
}
.heroSection_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  /* margin-bottom: 20px; */
}
.heroSection_header_sortDropdown {
  margin-right: 10px;
  margin-left: 10px;
  height: 40px;
}

.heroSection_header_message {
  margin-right: 5px;
  font-size: 20px;
}
.sortDropdown,
.HeroSection_message,
.button {
  display: flex;
  align-items: center;
}
.heroSection_box {
  width: 100%;
  margin: 0 auto;
  padding-block: 2rem 4rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  border-radius: 10px;
}
.heroSection_box_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 2rem;
}
.heroSection_box_item_box {
  position: relative;
  transition: all 0.3s ease;
}

.heroSection_box_item_box_checkboxOverlay {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  opacity: 1; /* Eta 0 hbe. */
  transition: opacity 0.3s ease;
}
.heroSection_box_item_box:hover .heroSection_box_item_box_checkboxOverlay {
  opacity: 1;
}
